.partners{
    padding-top: 75px;
    &__list{
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 620px){
    .partners{
        padding-top: 60px 0;
        .partners__list{
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
            padding-bottom: 60px;
        }
        &__item{
            margin: 10px 36px;
        }
    }
}

@media (max-width: 500px){
    .partners{
        &__item{
            margin: 10px 21px;
        }
    }
}

@media (max-width: 320px){
    .partners{
        &__item{
            margin: 10px 25px;
        }
    }
}